*.class
*.swp
recursos
/HolaMundo/nbproject/private/
/HolaMundo/build/
/Ejercicio01/nbproject/private/
/Ejercicio01/build/
/Ejercicios resueltos/Ejercicio02/nbproject/private/
/Ejercicios resueltos/Ejercicio02/build/
/ejercicios_resueltos/HolaMundo/build/
/ejercicios_resueltos/HolaMundo/nbproject/private/
/ejercicios_de_practica/HolaMundo/build/
/ejercicios_de_practica/HolaMundo/nbproject/private/
/ejercicios_resueltos/Ejercicio01/build/
/ejercicios_resueltos/Ejercicio01/nbproject/private/
/ejercicios_resueltos/Ejercicio02/build/
/ejercicios_resueltos/Ejercicio02/nbproject/private/
/ejercicios_resueltos/Ejercicio03/nbproject/private/
/ejercicios_resueltos/Ejercicio03/build/
/ejercicios_resueltos/Ejercicio04/nbproject/private/
/ejercicios_resueltos/Ejercicio04/build/
/ejercicios_de_practica/Variables/nbproject/private/
/ejercicios_de_practica/Variables/build/
/ejercicios_de_practica/NumerosDePuntoFlotante/nbproject/private/
/ejercicios_de_practica/NumerosDePuntoFlotante/build/
/ejercicios_de_practica/CastingDeTipos/nbproject/private/
/ejercicios_de_practica/CastingDeTipos/build/
/ejercicios_de_practica/TipoDouble/nbproject/private/
/ejercicios_de_practica/TipoDouble/build/
/ejercicios_de_practica/LibreriaMath/nbproject/private/
/ejercicios_de_practica/LibreriaMath/build/
/ejercicios_de_practica/Caracteres/nbproject/private/
/ejercicios_de_practica/Caracteres/build/
/ejercicios_de_practica/Cadenas/nbproject/private/
/ejercicios_de_practica/Cadenas/build/
/ejercicios_resueltos/Ejercicio05/nbproject/private/
/ejercicios_resueltos/Ejercicio05/build/