*.class
*.swp
/HolaMundo/nbproject/private/
/HolaMundo/build/
/Ejercicio01/nbproject/private/
/Ejercicio01/build/
/Ejercicios resueltos/Ejercicio02/nbproject/private/
/Ejercicios resueltos/Ejercicio02/build/